/* Sidebar Styling */
.side-navbar {
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 2px solid #ddd;
}

.logout-btn {
  background-color: #9f2020;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.logout-btn:hover {
  background-color: #ff0000;
}

/* Main Content Layout */
.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 20px;
}

/* Dynamic Card Styling */
.card {
  display: inline-flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  max-width: max-content;
  min-width: 150px;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  /* text-align: center; */
  text-align: left;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.card-text {
  font-size: 16px;
  color: #555;
}

/* Responsive Image Box */
.image-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.patient-image {
  width: 100px;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.patient-image:hover {
  opacity: 0.8;
}

/* Media Queries for Mobile */
@media screen and (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 100%;
  }
}
