/* General container styling */
.home-container {
  font-family: 'Arial', sans-serif;
  /* background-color: #faf7f4; */
  /* background-color: #f5f5f0; */
  background-color: rgb(248,249,250);
  background-image: url(https://cdn.deepseek.com/blog/banner-background.webp);
  background-size: auto;
  background-position: center;
}
/* Card styling */
.card {
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Footer Styling */
footer {
  background-color: #fbfbfb;
  color: #ffffff;
}

.footer-title {
  font-size: 1.25rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

footer p, footer a {
  font-size: 0.9rem;
}

.footer-link {
  color: #3c638e;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Social Icons */
.social-icons {
  margin-top: 2rem;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  color: #3c638e;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #ffffff;
}

/* Copyright Section */
footer .text-center p {
  font-size: 0.85rem;
  margin-top: 1rem;
  color: #ffffff;
}
/* Contact Section Styling */
footer .col-md-6.mb-4 p {
  color: #3c638e;
}



/* Image responsiveness */
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.display-4 {
  font-family: 'Rockwell', 'Bebas Neue', 'Oswald', sans-serif;
  color: black;
}

.lead{
  font-family: 'Rockwell', 'Bebas Neue', 'Oswald', sans-serif;
  color: black; 
}
.mb-4{
  font-family: 'Rockwell', 'Bebas Neue', 'Oswald', sans-serif;
  color: black;
}